<header class="header-site" id="particles-js" role="banner">
    <div class="content">

        <div class="person">
            <img alt="Logo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Wyślij mi email" title="Wyślij mi email" href="mailto:{{site.email}}" class="email">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="Github" title="Github" target="_blank" href="https://github.com/{{site.github_username}}" class="github">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>
        </div>

        <h2><a href="/offer" class="site-title" style="color: white;text-decoration: none">OFERTA</a></h2>

        <ul class="recent">
            <p>Najnowsze projekty:</p>
             {% for project in site.projects limit:3 %}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
            <li>
                <a href="/portfolio">
                    <h2 class="post-title" itemprop="name">Więcej...</h2>
                </a>
            </li>
        </ul>

        <ul class="recent">
             {% assign count = 0 %}
             {% for post in site.posts %}
                {% if count < 3 %}
                    {% if post.show == true %}
                        {% assign count = count | plus: 1 %}
                        {% if count == 1 %}
                        <p>Najnowsze posty:</p>
                        {% endif %}
                        <li>
                            <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                                <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
             {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
<script>
	$(function() {
		particlesJS.load('particles-js', '/assets/js/particlesjs-config.json')
	});
</script>
