size(width = 30, height = 30)
    width width px
    height height px

.icons-home
    text-align center
    a
        display inline-block
        padding rem(15px)
        margin rem(2px)
        border-radius 50%
        border rem(2px) solid sec
        line-height 0
        transition all .7s

        &.email
            &:hover
                background: #ffffff

                .icon
                    fill #000000

        &.fb
            border-color #3b5998

            .icon
                fill #3b5998

            &:hover
                background #3B5998

        &.github
            border-color #333333

            .icon
                fill #333333

            &:hover
                background #333333

        .icon
            fill sec
            size(18,18)
            +above(cut)
                size()
        &:hover
            background sec
            .icon
                fill sec

.down
    position absolute
    bottom 50px
    width 100%
    display block
    text-align center
    .icon
        align(both)
        size(100,100)
        fill sec
        animation pulse 1.3s infinite
.icon-arrow-menu
    vertical-align bottom
    size(18,15)

#heart
    color #E41515