// COLORS
main = #2D7BA2;
mainHover = rgba(45, 123, 162, 0.42);
hover = darken(main, 50%)
mainLight = #1BC3FF
sec  = #FFFFFF
lightGray = #F2F2F2
texts = #333333
colorcode = #006d76
blackBase =  #2f2f33
neotree = #2b4f21
c = #5C11A5
// Resolution
cut = 37.5rem